.menuBar{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    
    box-shadow: 2px 0px 10px rgba(0,0,0,0.5);
    padding: 0 50px;

    img{
        height: 45px;
    }

    .section{
        display: flex;
        align-items: center;
    
        
        .logOut{
            height: 40px;
            padding: 0 20px;

            box-sizing: border-box;
            border: 1px solid #835AFD;
            border-radius: 8px;
            background: #FFF;
            color: #835AFD;
            
            font-weight: 500;
            font-size: 14px;
        }
    }
}