.menuBar{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    
    box-shadow: 2px 0px 10px rgba(0,0,0,0.5);
    padding: 0 50px;

    img{
        height: 45px;
    }

    .section{
        display: flex;
        align-items: center;
        
        .codeRoom{
            display: flex;
            height: 40px;
            flex-direction: row;
            align-items: center;

            margin: 20px;
            border: 1px solid #835AFD;
            box-sizing: border-box;
            border-radius: 8px;

            .copybg{
                display: flex;
                align-items: center;
                background: #835afd;
                height: 100%;
                border-radius: 8px;
                
                img{
                    background: #835afd;
                    margin: 0 10px;
                    width: 20px;
                    height: 20px;
                }
            }

            p{
                font: 500 12px 'Roboto', sans-serif;
                margin: 0 20px;
                font-weight: 500;
                font-size: 14px;
                color: #835AFD;
            }
        }
        
        .logOut{
            height: 40px;
            padding: 0 20px;

            box-sizing: border-box;
            border: 1px solid #835AFD;
            border-radius: 8px;
            background: #FFF;
            color: #835AFD;
            
            font-weight: 500;
            font-size: 14px;
        }
    }
}